{% extends 'base.html' %}
{% block body %}
		<!-- header -->




				<!--riight-->


	<div id="navigation">
		<!-- container -->
		<div class="container">
			<div id="responsive-nav">
				<!-- category nav -->
				<div class="category-nav">
					<span class="category-header">Категории <i class="fa fa-list"></i></span>
					<ul class="category-list">
						<li><a href="{% url 'get_category' 'first' %}">Горячие блюда</a>
						<li><a href="{% url 'get_category' 'second' %}">Вторые блюда</a></li>
						<li><a href="{% url 'get_category' 'snack' %}">Закуски </a>

						</li>
						<li><a href="{% url 'get_category' 'fast-food' %}">Фаст-фуд</a></li>
						<li><a href="{% url 'get_category' 'salad' %}">Салаты</a></li>
						<li><a href="{% url 'get_category' 'desert' %}">Десерты </a>

						</li>
						<li><a href="{% url 'get_category' 'drink' %}">Напитки</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<!-- HOME -->
	<div id="home">
		<!-- container -->
		<div class="container">
			<!-- home wrap -->
			<div class="home-wrap">
				<!-- home slick -->
				<div id="home-slick">
					<!-- banner -->
					<div class="banner banner-1">
						<img src="static/img/баннер.jpg" alt="">
						<div class="banner-caption ">
							<h1 class="white-color">мы открылись!</h1>
							<h3 class="white-color font-weak">Steak House</h3>
							<a href="http://127.0.0.1:8000/rest_detail/2" class="primary-btn">Shop Now</a>
						</div>
					</div>
					<!-- /banner -->

					<!-- banner -->
					<div class="banner banner-1">
						<img src="static/img/баннер2.jpg" alt="">
						<div class="banner-caption">
							<h1 class="white-color">Лучшие стейки в городе<br><span class="white-color font-weak"></span></h1>
							<a href="http://127.0.0.1:8000/rest_detail/2"  class="primary-btn">Shop Now</a>
						</div>
					</div>
					<!-- /banner -->

					<!-- banner -->
					<div class="banner banner-1">
						<img src="static/img/баннер3.jpg" alt="">
						<div class="banner-caption">
							<h1 class="white-color">Новые виды </h1>
							<a href="http://127.0.0.1:8000/rest_detail/2"  class="primary-btn">Shop Now</a>
						</div>
					</div>
					<!-- /banner -->
				</div>
				<!-- /home slick -->
			</div>
			<!-- /home wrap -->
		</div>
		<!-- /container -->
	</div>
	<!-- /HOME -->
<div class="container">
			<div class="row">
				<!-- section title -->
				<div class="col-md-12">
					<div class="section-title">
						<h2 class="title">
							<a href="{% url 'top_rests' %}">
							Наши заведения</a>
						</h2>
						<div class="pull-right">
							<div class="product-slick-dots-2 custom-dots">
							</div>
						</div>
					</div>
				</div>
				<!-- section title -->

				<!-- Product Single -->
{				<div class="col-md-9 col-sm-6 col-xs-6">
					<div class="row">
						<div class="container">
						<div id="product-slick-1" class="product-slick">
							{% for rest in rests %}
							<div class="col-md-6 col-sm-6 col-xs-6">
								<div class="product product-single">
								<div class="product-thumb">

										<img src="{{ rest.images.first.image.url }}" alt="">
									</div>
									<div class="product-body">

										<div class="product-rating">

                                		{% for rr in rest.restaurant_reviews.all %}

											<i class="fa fa-star"></i>
                                        {% endfor %}
											<i class="fa fa-star-o empty"></i>
										</div>
									<a href="http://127.0.0.1:8000/rest_detail/{{rest.id}}" ><h2 class="product-name">{{rest.name}}</h2></a>
										<div class="product-btns">
											<a href="http://127.0.0.1:8000/dishes_of_rest/{{rest.id}}" class="primary-btn add-to-cart"><i class="fa fa-shopping-cart"></i> Перейти к меню</a>
										</div>
									</div>
								</div>
							</div>
							{% endfor %}

				<!-- /Product Single -->



						</div></div>
				<!-- /Product Slick -->
					</div></div></div>
{% endblock %}
