{% extends 'base.html' %}

{% block body %}


			<div class="row">
				<!--  Product Details -->

					<!--{% for image in rest.images.all %}-->
					   <!--<div class="product-view">-->
						   <!--<img src="{{ image.image.url }}" class = 'img-responsive myimg' alt="">-->
					   <!--</div>-->
					<!--{% endfor %}-->

<!--<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">-->
  <!--<div class="carousel-inner">-->
	<!--{% for image in rest.images.all %}-->
    <!--<div class="carousel-item active">-->
		<!--<img src="{{ image.image.url }}" class = 'img-responsive' alt="">-->

    <!--</div>-->
<!--{% endfor %}-->
<!--</div>-->

		<!-- container -->
		<div class="container">
			<div class="col-md-6">
		<div class="home-wrap">
				<!-- home slick -->
				<div id="home-slick">
					{% for image in rest.images.all %}
    					<div class="banner banner-1">
							<img src="{{ image.image.url }}" alt="">

   						 </div>
					{% endfor %}

				</div>
		</div></div>

					<div class="col-md-6">
						<div class="product-body">

							<h2 class="product-name">{{rest.name}}</h2>
							<h3 class="product-price">{{rest.address}} </h3>
							<a href="http://127.0.0.1:8000/dishes_of_rest/{{rest.id}}" class="primary-btn">Перейти к меню</a>
							<div>
                                	<div class="product-rating">
										{% for i in stars %}

											<i class="fa fa-star"></i>
                                        {% endfor %}
										{% for j in remainder %}
											<i class="fa fa-star-o empty"></i>

                                        {% endfor %}
								</div>
								<a href="#">{{ rest.restaurant_reviews.count }} отзыва(ов) / Добавить отзыв</a>
							</div>



					</div>
					</div>


<div class="row">
					<div class="col-md-12">
						<div class="product-tab">
							<ul class="tab-nav">

								<li><a data-toggle="tab" href="#tab1">Детали</a></li>
								<li><a data-toggle="tab" href="#tab2">Отзывы (3)</a></li>
							</ul>
							<div class="tab-content">
								<div id="tab1" class="tab-pane fade in active">

								<div id="tab2" class="tab-pane fade in">

									<div class="row">
										<div class="col-md-6">
											<div class="product-reviews">
                                                {% for review in rest.restaurant_reviews.all %}
												<div class="single-review">
													<div class="review-heading">
														<div><a href="#"><i class="fa fa-user-o"></i> {{ review.user.username }} </a></div>
														<div><a href="#"><i class="fa fa-clock-o"></i> {{ review.review.date }}</a></div>

													</div>
													<div class="review-body">
														<p>{{ review.review.comment }}</p>
													</div>
												</div>
                                            {% endfor %}
													</div>
										</div>
				<div class="col-md-6">
											<h4 class="text-uppercase">Оставить отзыв:</h4>
											<p>Ваш email не будет опубликован </p>
											<form action="" class="review-form" method="POST">
												<div class="form-group">
													<input class="input" type="text" placeholder="{{user.username}}" disabled/>
												</div>

												<div class="form-group">
													<textarea class="input" placeholder="Ваш отзыв"></textarea>
												</div>
												<div class="form-group">
													<div class="input-rating">
														<strong class="text-uppercase">Оценка: </strong>
														<div class="stars">
															<input type="radio" id="star5" name="rating" value="5" /><label for="star5"></label>
															<input type="radio" id="star4" name="rating" value="4" /><label for="star4"></label>
															<input type="radio" id="star3" name="rating" value="3" /><label for="star3"></label>
															<input type="radio" id="star2" name="rating" value="2" /><label for="star2"></label>
															<input type="radio" id="star1" name="rating" value="1" /><label for="star1"></label>
														</div>
													</div>
												</div>
												<button class="primary-btn">Отправить</button>
											</form>
										</div>
									</div>



								</div>
							</div>
						</div>
					</div>

				</div>
            </div>
</div>	</div>
{% endblock %}